- unless @is_admin
    %div#main.admin-panel.auth
        %form#auth(action='/admin/auth' method='post')
            %input(name='login' type='text' placeholder='Login')
            %input(name='password' type='password' placeholder='Password')
            %input(type='submit' value='Sign in')
- else
    :javascript
        $posts = #{Oj.dump @posts}
    %link(rel='stylesheet'
          href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    %div#main.admin-panel
        %div#sidebar
            %span.category Content
            %div.button(:class='currentButton("new-post")')
                %a(href='#page=new-post') New post
            %div.button(:class='currentButton("posts")')
                %a(href='#page=posts') Posts
            %span.category Settings
            %div.button(:class='currentButton("settings")')
                %a(href='#page=settings') General
            %div#main-page
                %a(href='/') Main page
        %div#main-area
            %div.page#new-post(:class='currentPage("new-post")')
                %form(action='/admin/posts/new'
                      method='post')
                    %input(name='title'
                           type='text'
                           placeholder='Title')
                    %textarea(name='description'
                              placeholder='Description')
                    %textarea#new-post-body(name='body'
                                            placeholder='Text')
                    %button.draft(type='submit'
                            name='published'
                            value='false')
                        Save
                    %button.publish(type='submit'
                            name='published'
                            value='true')
                        Publish
            %div.page#update-post(:class='currentPage("update-post")')
                %form(action='/admin/posts/update'
                      method='post')
                    %input#post-id(name='id'
                                   type='hidden'
                                   :value='post.id')
                    %input#post-title(name='title'
                                      type='text'
                                      placeholder='Title'
                                      :value='post.title')
                    %textarea#post-desc(name='description'
                                        placeholder='Description'
                                        :value='post.description')
                    %textarea#update-post-body(name='body'
                                               placeholder='Text')
                    %button.draft(type='submit'
                                  name='published'
                                  value='false')
                        {{ actions.draft }}
                    %button.publish(type='submit'
                                    name='published'
                                    value='true')
                        {{ actions.publish }}
                    %button#delete(type='sumbit'
                                   name='delete'
                                   value='true')
                        Delete
            %div.page#posts(:class='currentPage("posts")')
                %div.post(v-for='post in posts' v-cloak)
                    %a(:href='"#post=" + post.id')
                        %span.title {{ post.title }}
                        %span.description {{ post.description }}
                        %span.publish-status(:class='publishStatus(post.published)')
                            {{ post.published? 'Published' : 'Unpublished' }}
            %div.page#settings(:class='currentPage("settings")')
                %div#settings-not-ready
                    Please edit your /app/config.yaml file. This page is not ready yet.

