:javascript
    $post = #{Oj.dump @post}

%div#main
    %div#header-small
        %div.container
            %span#blog-name
                %a(href='/')= @site['name']
            %div#links
                - @site['links'].each do |link|
                    %a.link#menu_link{href: link['href']}= link['text']
    %div#post.container.app(v-cloak)
        %span#title {{ post.title }}
        %div#body
            %div#description {{ post.description }}
            %div(v-html='post.body')
