!!!
%head
    %title= @site['name']
    %link{rel: 'stylesheet', href: stylesheet_path('app')}
    = yield_content :og_meta
    - unless @stylesheets.nil?
        - @stylesheets.each do |style|
            %link{rel: 'stylesheet', href: stylesheet_path(style)}

%body
    = yield
    %script(src='//unpkg.com/vue')
    - unless @javascripts.nil?
        - @javascripts.each do |script|
            %script{src: javascript_path(script)}
    - else
        %script{src: javascript_path('app')}
    - unless @js_injection.nil?
        :javascript
            ((post) => {
                #{@js_injection}
            }).call(null, typeof $post !== 'undefined' ? $post : [])
